@import "tailwindcss";
body {
  font-family: 'Inter', sans-serif;
}
#Lpage {
  background-image: url("https://media.istockphoto.com/id/674766146/photo/books.jpg?s=612x612&w=0&k=20&c=GytJkdez8R04EfRLH9b4aJxcqTTFHZOm5DjmMDZ8Wck=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
@layer utilities {
  /* Chrome, Safari, and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  /* Firefox */
  .scrollbar-hidden {
    scrollbar-width: none;
  }
  /* IE and Edge */
  .scrollbar-hidden {
    -ms-overflow-style: none;
  }
}